@charset "UTF-8";
/* CSS Document */

/*Site*/

html {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background: #c1d2dd;
}
body {
    margin: 0;
    line-height: 1.4;
    font-size: 100%;
    max-width: 100%;
    max-height: 100%;
}
img {
    max-width: 100%;
}
nav {
    background-color: #c1d2dd;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'img ul';
}
nav ul {
    grid-area: ul;
    margin-right: 2%;
    display: grid;
    justify-content: end;
	grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 150px);
}
nav img {
    display: grid;
    grid-area: img;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 20%;
}
nav li {
    margin-top: auto;
    margin-bottom: auto;
}
nav a.button1 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button1:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button2 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button2:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button3 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button3:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button4 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button4:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button5 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button5:hover {
    font-weight: 800;
    color: #f0f0e0;
}
main1 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section1 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section1 header h1 {
    font-size: 8em;
    margin: 0;
	font-weight: bolder;
    text-transform: uppercase;
}
main1 section1 header p {
    font-size: 2em;
	font-weight: bold;
    margin: 0;
}
main1 section2 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section2 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section2 header {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section2 header h1 {
    font-size: 6em;
	font-weight: bolder;
    margin: auto auto auto 20px;
    text-transform: uppercase;
    text-align: left;
}
main1 section2 header p {
    font-size: 1.5em;
	font-weight: bold;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section2 header ul {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section2 header a.button1 {
    margin: auto auto auto 20px;
    color: white;
    background-color: #3354C2;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main1 section2 header a.button1:hover {
    font-weight: 600;
    background: #3a3a3c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main1 section3 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section3 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section3 header {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section3 header h1 {
    font-size: 6em;
	font-weight: bolder;
    margin: auto 20px auto auto;
    text-transform: uppercase;
    text-align: right;
}
main1 section3 header p {
    font-size: 1.5em;
	font-weight: bold;
    margin: auto 20px auto auto;
    text-align: right;
}
main1 section3 header ul {
   	display: grid;
    justify-content: flex-end;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section3 header a.button1 {
    margin: auto 20px auto auto;
    color: #3a3a3c;
    background-color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main1 section3 header a.button1:hover {
    font-weight: 600;
    background: #3a3a3c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main1 section4 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section4 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section4 header {
    position: absolute;
    /*background: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section4 header h1 {
    font-size: 6em;
	font-weight: bolder;
    text-transform: uppercase;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section4 header p {
    font-size: 1.5em;
	font-weight: bold;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section4 header ul {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section4 header a.button1 {
    margin: auto auto auto 20px;
    color: white;
    background-color: #E3BC43;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main1 section4 header a.button1:hover {
    font-weight: 600;
    background: #3a3a3c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main2 {
    display: grid;
	background: url("Photos/rawpixel-659503-unsplash.png");
	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100%;
    grid-gap: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    grid-template-areas: 's1 s2' 's3 s4' 's5 s6';
}
main2 p {
    text-align: justify;
    display: grid;
    padding: 0;
    justify-content: center;
    grid-template-columns: 400px;
}
main2 section1 {
    grid-area: s1;
    grip-gap: 10px;
    padding: 0;
}
main2 section2 {
    grid-area: s2;
    grip-gap: 10px;
    padding: 0;
}
main2 section3 {
    grid-area: s3;
    grip-gap: 10px;
    padding: 0;
}
main2 section4 {
    grid-area: s4;
    grip-gap: 10px;
    padding: 0;
}
main2 section5 {
    grid-area: s5;
    grip-gap: 10px;
    padding: 0;
}
main2 section6 {
    grid-area: s6;
    grip-gap: 10px;
    padding: 0;
}
main2 img {
    width: 15%;
}
main2 section0 {
    display: block;
    width: 100%;
    position: relative;
}
main2 section0 img {
    max-height: 100%;
    max-height: 100%;
    display: block;
}
main2 section0 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 20%;
    left: 55%;
    color: #000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main2 section0 header h1 {
	font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
	text-align: justify;
}
main3 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main3 section1 img {
    height: 100%;
    width: 100%;
    display: block;
}
main3 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main3 section2 {
	color: white;
	display: grid;
	grid-area: he1;
    grid-gap: 10px;
	margin: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3354C2;
	grid-template-areas: 'he1 he2' 'he3 he4';
}
main3 section2 header1 {
	display: grid;
	grid-area: he1;
	justify-content: flex-start;
	align-content: flex-start;
	text-align: center;
}
main3 section2 header2 {
	display: grid;
	grid-area: he2;
	justify-content: flex-start;
	align-content: flex-start;
	text-align: center;
}
main3 section2 header3 {
	display: grid;
	grid-area: he3;
	justify-content: flex-start;
	align-content: flex-start;
	text-align: center;
}
main3 section2 header4 {
	display: grid;
	grid-area: he4;
	justify-content: flex-start;
	align-content: flex-start;
	text-align: center;
}
main3 h1 {
    font-size: 6em;
    text-transform: uppercase;
}
main3 h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 1% 1% 1% 1%;
}
main3 p {
	text-align: justify;
    font-size: 1.5em;
    margin: 1% 1% 1% 1%;
}
main4 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main4 section1 img {
    max-height: 100%;
    max-height: 100%;
    display: block;
}
main4 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 20%;
    left: 55%;
    color: #000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main4 section1 header h1 {
	font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
	text-align: justify;
}
main4 section2 {
	color: white;
    display: grid;
    column-gap: 10px;
    border-color: rgba(0,0,0,1.00);
    margin: 10px 10px 10px 10px;
	grid-template-areas: 'he1 he2';
}
main4 section2 header1 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he1;
    grid-gap: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3354C2;
}
main4 section2 header2 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he2;
    grid-gap: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3354C2;
}
main4 section2 img {
	display: grid;
	width: 50px;
	height: 50px;
}
main4 section2 h1 {
	font-size: 2em;
	color: #E3BC43;
}
main4 section2 p {
	text-align: justify;
	font-size: 1.2em;
}
main4 section3{
	position: relative;
	color: white;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    background-color: #3354C2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	grid-template-areas: 'img p';
}
main4 section3 header ul {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main4 section3 header a.button1 {
    margin: auto auto auto 20px;
    color: black;
    background-color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main4 section3 header a.button1:hover {
    font-weight: 600;
    background: #3a3a3c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main4 section3 header p {
    display: grid;
	grid-area: p;
	padding: 0 10% 0 10%;
    align-items: flex-start;
    font-size: 1.5em;
	text-align: left;
}
main4 section3 header h1 {
	display: grid;
	padding: 0 10% 0 10%;
    align-items: flex-start;
	font-size: 2em;
	font-weight: bolder;
	color: #E3BC43;
	text-align: left;
}
main4 section3 img {
	display: grid;
	grid-area: img;
    max-width: 100%;
}
main4 section3 header img {
	display: grid;
	margin-top: 2%;
	margin-left: 10%;
	width: 50px;
	height: 50px;
}
main5 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main5 section1 img {
    max-height: 100%;
    max-height: 100%;
    display: block;
}
main5 section1 header1 {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 20%;
    left: 55%;
    color: #000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main5 section1 header1 h1 {
	font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
	text-align: justify;
}
main5 section1 header2 {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 20%;
    left: 55%;
    color: #000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main5 section1 header2 h1 {
	font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
	text-align: justify;
}
main5 section2 {
	color: white;
    display: grid;
    column-gap: 10px;
    border-color: rgba(0,0,0,1.00);
    margin: 10px 10px 10px 10px;
	grid-template-areas: 'he1 he2';
}
main5 section2 header1 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he1;
    grid-gap: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3354C2;
}
main5 section2 header2 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he2;
    grid-gap: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3354C2;
}
main5 section2 img {
	display: grid;
	width: 50px;
	height: 50px;
}
main5 section2 h1 {
	font-size: 2em;
	color: #E3BC43;
}
main5 section2 p {
	text-align: justify;
	font-size: 1.2em;
}
footer {
    background-color: #2e3a41;
    display: grid;
    grid-gap: 2%;
    height: 20%;
    grid-template-areas: 'fa sec1';
    color: #c1d2dd;
    font-weight: 600;
}
footer section1 {
	display: grid;
    grid-area: sec1;
	margin: 1%;
	justify-content: flex-end;
    align-content: center;
	grid-template-columns: repeat(1, 350px);
}
footer p1 {
	text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
footer p2 {
	text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
footer p3 {
	text-align: center;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #3a3a3c;
}

footer ul {
	grid-area: fa;
    margin: 0;
    display: grid;
    justify-content: start;
    grid-gap: 2%;
	margin: 1%;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 60px);
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-twitter {
    display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-instagram {
	display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 700px) {
nav ul {
    grid-template-columns: repeat(2, 125px);
    grid-template-areas: 'img ul';
}
nav img {
    display: block;
    text-align: left;
    margin-top: 80%;
    width: 90%;
}
main1 section1, main1 section1 img, main1 section1 header, main1 section1 header h1, main1 section2, main1 section2 img, main1 section2 header, main1 section2 header h1, main1 section3, main1 section3 img, main1 section3 header, main1 section3 header h1, main1 section4, main1 section4 img, main1 section4 header, main1 section4 header h1 {
    font-size: 5vh;
    grid-template-columns: 1fr;
}
main1 section1 header p, main1 section2 header p, main1 section3 header p, main1 section4 header p {
    font-size: 2.5vh;
}
main1 section2 header p {
    width: 65%;
}
main1 section4 header p {
    width: 60%;
}
main2 {
    font-size: 2.5vh;
    grid-template-columns: 1fr;
}
main2 p {
    text-align: justify;
    display: grid;
    padding: 0;
    justify-content: center;
    grid-template-columns: 180px;
}
main2 img {
    width: 50%;
}
main3 section1 header h1 {
    font-size: 5vh;
}
main3 section2 {
	grid-template-columns: repeat(2, 1fr);
}
main3 section2 header1 h2, main3 section2 header2 h2, main3 section2 header3 h2, main3 section2 header4 h2 {
    font-size: 3vh;
	grid-template-columns: 1fr;
}
main3 section2 header1 p, main3 section2 header2 p, main3 section2 header3 p, main3 section2 header4 p {
    font-size: 2.5vh;
	grid-template-columns: 1fr
}
main4 section1 header h1 {
    font-size: 3vh;
	grid-template-columns: 1fr; 
	}
main4 section2 {
	grid-template-columns: repeat(2, 1fr);
}
main4 section2 img {
	grid-template-columns: 1fr; 
}
main4 section2 img {
	grid-template-columns: 1fr; 
}
main4 section2 header1 h1, main4 section2 header2 h1 {
	font-size: 2vh;
}
main4 section2 p {
	text-align: justify;
	font-size: 1.25vh;
	margin: 0;
}
main4 section3 img {
	grid-template-columns: 1fr; 
}
main4 section3 header img {
	grid-template-columns: 1fr; 
}
main4 section3 header h1 {
	font-size: 2vh;
}
main4 section3 header p {
	font-size: 1.25vh;
}
main4 section3 header a.button1 {
	font-size: 1.5vh;
	grid-template-columns: 1fr; 
}
footer {
    display: block;
    grid-template-columns: repeat(6, 1fr);
}
footer p {
    font-size: 1.1em;
    display: grid;
    margin: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: 3fr;
}
footer .fa {
    display: grid;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: 3fr;
}
}
