@charset "UTF-8";
/* CSS Document */

/*Site*/

html {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background: #c1d2dd;
}
body {
    margin: 0;
    line-height: 1.4;
    font-size: 100%;
    max-width: 100%;
    max-height: 100%;
}
img {
    max-width: 100%;
}
nav {
    background-color: #c1d2dd;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'img ul';
}
nav ul {
    grid-area: ul;
    margin-right: 2%;
    display: grid;
    justify-content: end;
	grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 150px);
}
nav img {
    display: grid;
    grid-area: img;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 20%;
}
nav li {
    margin-top: auto;
    margin-bottom: auto;
}
nav a.button1 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button1:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button2 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button2:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button3 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button3:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button4 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button4:hover {
    font-weight: 800;
    color: #f0f0e0;
}
nav a.button5 {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: #2e3a41;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
nav a.button5:hover {
    font-weight: 800;
    color: #f0f0e0;
}
main1 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section1 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section1 header h1 {
    font-size: 8em;
    margin: 0;
	color: #f0f0e0;
	font-weight: bolder;
    text-transform: uppercase;
}
main1 section1 header p {
    font-size: 2em;
	font-weight: bold;
	color: #f0f0e0;
    margin: 0;
}
main1 section2 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section2 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section2 header {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section2 header h1 {
    font-size: 6em;
	font-weight: bolder;
    margin: auto auto auto 20px;
    text-transform: uppercase;
	color: #445865;
    text-align: left;
}
main1 section2 header p {
    font-size: 1.5em;
	font-weight: bold;
	color: #445865;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section2 header ul {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section2 header a.button1 {
    margin: auto auto auto 20px;
    color: #f19336;
    background-color: #445865;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 800;
}
main1 section2 header a.button1:hover {
    opacity: 0.7;
}
main1 section3 {
    display: block;
    width: 100%;
	color: #c1d2dd;
    position: relative;
}
main1 section3 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section3 header {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section3 header h1 {
    font-size: 6em;
	font-weight: bolder;
	color: #f0f0e0;
    margin: auto 20px auto auto;
    text-transform: uppercase;
    text-align: right;
}
main1 section3 header p {
    font-size: 1.5em;
	font-weight: bold;
	color: #f0f0e0;
    margin: auto 20px auto auto;
    text-align: right;
}
main1 section3 header ul {
   	display: grid;
    justify-content: flex-end;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section3 header a.button1 {
    margin: auto 20px auto auto;
    color: #2e3a41;
    background-color: #f0f0e0;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 800;
}
main1 section3 header a.button1:hover {
    opacity: 0.7;
}
main1 section4 {
    display: block;
    width: 100%;
    position: relative;
}
main1 section4 img {
    height: 100%;
    width: 100%;
    display: block;
}
main1 section4 header {
    position: absolute;
    /*background: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main1 section4 header h1 {
    font-size: 6em;
	font-weight: bolder;
	color: #c1d2dd;
    text-transform: uppercase;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section4 header p {
    font-size: 1.5em;
	font-weight: bold;
	color: #c1d2dd;
    margin: auto auto auto 20px;
    text-align: left;
}
main1 section4 header ul {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main1 section4 header a.button1 {
    margin: auto auto auto 20px;
    color: #c1d2dd;
    background-color: #f19336;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 800;
}
main1 section4 header a.button1:hover {
    opacity: 0.7;
}
main2 {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    text-align: center;
    grid-template-areas: 'hr1'
		'hr2';
}
main2 header1 {
	display: grid;
	grid-area: hr1;
	background: url("Photos/rawpixel-659503-unsplash.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
	grid-gap: 10px;
}

main2 header1 h1 {
	font-size: 6em;
	display: grid;
	text-align: center;
	justify-content: center;
	align-content: center;
	color: #2e3a41;
	padding: 0;
}
main2 header2 {
	display: grid;
	grid-area: hr2;
	background-color: #c1d2dd;
    grid-gap: 10px;
	padding: 10px;
    text-align: center;
    grid-template-areas:
		'he1 he1'
		's1 s2'
		's3 s4'
		's5 s6';
}
main2 p {
    text-align: justify;
    display: grid;
    padding: 0;
    justify-content: center;
	color: #2e3a41;
    grid-template-columns: 400px;
}
main2 header2 h1 {
	font-size: 2em;
	grid-area: he1;
	padding: 10px;
	color: #2e3a41;
}
main2 section1 {
    grid-area: s1;
    grip-gap: 10px;
    padding: 0;
}
main2 section2 {
    grid-area: s2;
    grip-gap: 10px;
    padding: 0;
}
main2 section3 {
    grid-area: s3;
    grip-gap: 10px;
    padding: 0;
}
main2 section4 {
    grid-area: s4;
    grip-gap: 10px;
    padding: 0;
}
main2 section5 {
    grid-area: s5;
    grip-gap: 10px;
    padding: 0;
}
main2 section6 {
    grid-area: s6;
    grip-gap: 10px;
    padding: 0;
}
main2 img {
    width: 15%;
}
main3 section1 {
    display: block;
    width: 100%;
    position: relative;
}
main3 section1 img {
    height: 100%;
    width: 100%;
    display: block;
}
main3 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main3 section2 {
	color: #c1d2dd;
	display: grid;
	grid-area: he1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	grid-template-areas: 'he1 he2' 'he3 he4';
}
main3 section2 header1 {
	display: grid;
	grid-area: he1;
	margin: 0 5px 5px 0;
	padding: 10px;
	height: 250px;
	background-color: #445865;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
}
main3 section2 header2 {
	display: grid;
	grid-area: he2;
	margin: 0 0 5px 5px;
	padding: 10px;
	height: 250px;
	background-color: #445865;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
}
main3 section2 header3 {
	display: grid;
	grid-area: he3;
	margin: 5px 5px 0 0;
	padding: 10px;
	height: 250px;
	background-color: #445865;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
}
main3 section2 header4 {
	display: grid;
	grid-area: he4;
	margin: 5px 10px 0 5px;
	padding: 10px;
	height: 250px;
	background-color: #445865;
	justify-content: flex-start;
	align-content: center;
	text-align: center;
}
main3 h1 {
    font-size: 6em;
    text-transform: uppercase;
}
main3 h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 1% 1% 1% 1%;
}
main3 p {
	text-align: justify;
    font-size: 1.5em;
    margin: 1% 1% 1% 1%;
}
main4 section1 {
	color: #c1d2dd;
    display: block;
    width: 100%;
    position: relative;
}
main4 section1 img {
    max-height: 100%;
    max-height: 100%;
    display: block;
}
main4 section1 header {
    position: absolute;
    width: 100%;
    padding: 0;
    text-align: center;
    top: 20%;
    left: 55%;
    color: #000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
main4 section1 header h1 {
	font-size: 3.5em;
    font-weight: bolder;
	color: #2e3a41;
    margin: 0;
	text-align: justify;
}
main4 section2 {
	color: #c1d2dd;
    display: grid;
	font-weight: 500;
    border-color: rgba(0,0,0,1.00);
	grid-template-areas: 'he1 he2';
}
main4 section2 header1 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he1;
    grid-gap: 10px;
    padding: 30px 30px;
	margin: 0 5px 5px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #445865;
}
main4 section2 header2 {
    display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	grid-area: he2;
    grid-gap: 10px;
    padding: 30px 30px;
	margin: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #445865;
}
main4 section2 img {
	display: grid;
	width: 50px;
	height: 50px;
}
main4 section2 h1 {
	font-size: 2em;
	color: #f0f0e0;
}
main4 section2 p {
	text-align: justify;
	font-size: 1.2em;
}
main4 section3{
	position: relative;
	color: #c1d2dd;
	font-weight: 500;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 5px 0 0 0;
    background-color: #445865;
	grid-template-areas: 'img p';
}
main4 section3 header ul {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    list-style: none;
    grid-template-columns: 125px;
}
main4 section3 header a.button1 {
    margin: auto auto auto 20px;
    color: black;
    background-color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main4 section3 header a.button1:hover {
    font-weight: 600;
    background: #3a3a3c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main4 section3 header p {
    display: grid;
	grid-area: p;
	padding: 0 10% 0 10%;
    align-items: flex-start;
    font-size: 1.5em;
	text-align: left;
}
main4 section3 header h1 {
	display: grid;
	padding: 0 10% 0 10%;
    align-items: flex-start;
	font-size: 2em;
	font-weight: bolder;
	color: #f0f0e0;
	text-align: left;
}
main4 section3 img {
	display: grid;
	grid-area: img;
    max-width: 100%;
}
main4 section3 header img {
	display: grid;
	margin-top: 2%;
	margin-left: 10%;
	width: 50px;
	height: 50px;
}
main5 {
    display: grid;
    padding: 0;
	line-height: 1.4;
    grid-template-areas: 'hr1'
		'hr2';
}
main5 header1 {
	display: grid;
	grid-area: hr1;
	background-color: #2e3a41;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
}
main5 section1 {
	margin: 20px;
}
main5 header1 h1 {
	font-size: 6em;
	text-align: center;
	color: #c1d2dd;
	padding: 0;
}
main5 header1 p1,main5 header1 p3,main5 header1 p5 {
    padding: 0;
	font-size: 1.5em;
	color: #c1d2dd;
	font-weight: 700;
}
main5 header1 p2,main5 header1 p4,main5 header1 p6 {
	padding: 0;
	font-size: 1em;
	color: #c1d2dd;
	font-weight: 500;
}
main5 header2 {
	display: grid;
	grid-area: hr2;
	background-color: #f19336;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
}
main5 section2 {
	margin: 20px;
}
main5 header2 p1 {
	color: #f0f0e0;
	font-size: 2em;
	font-weight: 900;
}
main5 header2 p2,main5 header2 p6,main5 header2 p7 {
	padding: 0;
	font-size: 1.5em;
	color: #f0f0e0;
	font-weight: 700;
}
main5 header2 h1 {
	font-size: 6em;
	text-align: center;
	color: #f0f0e0;
	padding: 0;
}
main5 header2 p3 {
	color: #445865;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	font-size: 1em;
	font-weight: 500;
	background: #f0f0e0;
}
main5 header2 p4 {
	color: #445865;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	font-size: 1em;
	font-weight: 500;
	background: #f0f0e0;
}
main5 header2 p5 {
	color: #445865;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	font-size: 1em;
	font-weight: 500;
	background: #f0f0e0;
}
main5 header1 section1 ul {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    padding: 0;
	margin-top: 30px;
    list-style: none;
	text-align: center;
    grid-template-columns: 250px;
}
main5 header1 section1 a.button1 {
    margin: auto auto auto 20px;
    color: white;
    background-color: #f19336;
    display: block;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 800;
}
main5 header1 section1 a.button1:hover {
    opacity: 0.7;
}
main5 header2 section2 ul {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    padding: 0;
	margin-top: 30px;
    list-style: none;
	text-align: center;
    grid-template-columns: 250px;
}
main5 header2 section2 a.button1 {
    margin: auto auto auto 20px;
    color: #f0f0e0;
    background-color: #2e3a41;
    display: block;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 800;
}
main5 header2 section2 a.button1:hover {
    opacity: 0.7;
}
footer {
    background-color: #2e3a41;
    display: grid;
    grid-gap: 2%;
    height: 20%;
    grid-template-areas: 'fa sec1';
    color: #c1d2dd;
    font-weight: 600;
}
footer section1 {
	display: grid;
    grid-area: sec1;
	margin: 1%;
	justify-content: flex-end;
    align-content: center;
	grid-template-columns: repeat(1, 350px);
}
footer p1 {
	text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
footer p2 {
	text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
footer p3 {
	text-align: center;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
footer a {
    text-decoration: none;
    color: #3a3a3c;
}

footer ul {
	grid-area: fa;
    margin: 0;
    display: grid;
    justify-content: start;
    grid-gap: 2%;
	margin: 1%;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 60px);
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-twitter {
    display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-instagram {
	display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 700px) {
nav ul {
    grid-template-columns: repeat(2, 125px);
    grid-template-areas: 'img ul';
}
nav img {
    display: block;
    text-align: left;
    margin-top: 80%;
    width: 90%;
}
main1 section1, main1 section1 img, main1 section1 header, main1 section1 header h1, main1 section2, main1 section2 img, main1 section2 header, main1 section2 header h1, main1 section3, main1 section3 img, main1 section3 header, main1 section3 header h1, main1 section4, main1 section4 img, main1 section4 header, main1 section4 header h1 {
    font-size: 5vh;
    grid-template-columns: 1fr;
}
main1 section1 header p, main1 section2 header p, main1 section3 header p, main1 section4 header p {
    font-size: 2.5vh;
}
main1 section2 header p {
    width: 65%;
}
	main1 section3 header p {
    width: 65%;
}
main1 section4 header p {
    width: 60%;
}
main2 {
    font-size: 2.5vh;
    grid-template-columns: 1fr;
}
	main2 header1 {
	height: 200px;
	}
main2 header1 h1 {
	font-size: 5vh;
	grid-template-columns: 1fr;
}
main2 header2 h1 {
	font-size: 3vh;
	grid-template-columns: 1fr;
}	
main2 p {
    text-align: justify;
    display: grid;
    padding: 0;
    justify-content: center;
    grid-template-columns: 180px;
}
main2 img {
    width: 50%;
}
main3 section1 header h1 {
    font-size: 5vh;
}
main3 section2 {
	grid-template-columns: repeat(2, 1fr);
}
main3 section2 header1 h2, main3 section2 header2 h2, main3 section2 header3 h2, main3 section2 header4 h2 {
    font-size: 3vh;
	grid-template-columns: 1fr;
}
main3 section2 header1 p, main3 section2 header2 p, main3 section2 header3 p, main3 section2 header4 p {
    font-size: 2.5vh;
	grid-template-columns: 1fr
}
main4 section1 header h1 {
    font-size: 3vh;
	grid-template-columns: 1fr; 
	}
main4 section2 {
	grid-template-columns: repeat(2, 1fr);
}
main4 section2 img {
	grid-template-columns: 1fr; 
}
main4 section2 img {
	grid-template-columns: 1fr; 
}
main4 section2 header1 h1, main4 section2 header2 h1 {
	font-size: 2vh;
}
main4 section2 p {
	text-align: justify;
	font-size: 1.25vh;
	margin: 0;
}
main4 section3 img {
	grid-template-columns: 1fr; 
}
main4 section3 header img {
	grid-template-columns: 1fr; 
}
main4 section3 header h1 {
	font-size: 2vh;
}
main4 section3 header p {
	font-size: 1.25vh;
}
main4 section3 header a.button1 {
	font-size: 1.5vh;
	grid-template-columns: 1fr; 
}
	main5 header1 {
		height: 100%;
	}
	main5 header1 h1 {
		font-size: 5vh;
	}
	main5 header1 p1,main5 header1 p3,main5 header1 p5 {
		font-size: 3vh;
	}
	main5 header1 p2,main5 header1 p4,main5 header1 p6 {
		font-size: 2.5vh;
	}
	main5 header2 {
		height: 100%;
	}
	main5 header2 h1 {
		font-size: 5vh;
	}
	main5 header2 p1 {
		font-size: 3vh;
	}
	main5 header2 p2,main5 header2 p6,main5 header2 p7 {
		font-size: 2.5vh;
	}
	main5 header2 p3,main5 header2 p4,main5 header2 p5 {
		font-size: 2vh;
	}
	main5 header1 section1 {
		grid-template-columns: 1fr; 
	}
footer {
    display: block;
    grid-template-columns: repeat(6, 1fr);
}
footer p {
    font-size: 1.1em;
    display: grid;
    margin: auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: 3fr;
}
footer .fa {
    display: grid;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-content: center;
    grid-template-columns: 3fr;
}
}
